In [491]:
xp = pd.read_csv('temp7982307163783483128.csv',sep=';')

# Editando arquivo csv para usar no google sheets.

xp['Valor'] = xp['Valor'].str.replace('R\$', '', regex=True)

#xp.drop(columns=['Parcela','Portador'],inplace=True)

    #st.button(label="Copy",key=0,on_click=xp.to_clipboard(excel=True, sep=None,index=False))

In [492]:
xp[['realizado','total']] = xp['Parcela'].str.split(' de ',n=2,expand=True)

In [493]:
xp[['realizado','total']]

   realizado total
0          2     3
1          -  None
2          1     2
3          1     3
4          2     3
..       ...   ...
80         -  None
81         -  None
82         -  None
83         -  None
84         4     4

[85 rows x 2 columns]

In [494]:
xp_parcelas = xp.loc[xp['realizado']!='-']

In [495]:
xp_parcelas[['realizado','total']] = xp_parcelas[['realizado','total']].astype('int64')

xp_parcelas['faltam'] = xp_parcelas['total'] - xp_parcelas['realizado']

C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\2264432067.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas[['realizado','total']] = xp_parcelas[['realizado','total']].astype('int64')
C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\2264432067.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas['faltam'] = xp_parcelas['total'] - xp_parcelas['realizado']

In [496]:
xp_parcelas['Valor'] = xp_parcelas['Valor'].str.strip()
xp_parcelas['Valor'] = xp_parcelas['Valor'].str.replace(',','.')
xp_parcelas['Valor'] = xp_parcelas['Valor'].astype('float64')

C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\2072687422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas['Valor'] = xp_parcelas['Valor'].str.strip()
C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\2072687422.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas['Valor'] = xp_parcelas['Valor'].str.replace(',','.')
C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\2072687422.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas['Valor'] = xp_parcelas['Valor'].astype('float64')

In [497]:
xp_parcelas['faltam'] = xp_parcelas['faltam'] + 1 # Corrige por exemplo 2/2 agora é minha ultima parcela mas ainda não pague! falta 1   


xp_parcelas['total_faltante'] = xp_parcelas['faltam']*xp_parcelas['Valor']

C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\486568335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas['faltam'] = xp_parcelas['faltam'] + 1 # Corrige por exemplo 2/2 agora é minha ultima parcela mas ainda não pague! falta 1
C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\486568335.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas['total_faltante'] = xp_parcelas['faltam']*xp_parcelas['Valor']

In [498]:
xp_parcelas.set_index('Estabelecimento')[['total_faltante','faltam','Valor']].sort_values('total_faltante',ascending=False)

                           total_faltante  faltam   Valor
Estabelecimento
AZUL WE*WDVIQLBRITO               2529.12       8  316.14
AZUL WE*HCU6VLBRITO               2494.40       8  311.80
AZUL WE*SHYV7MRODRIGU             1910.88       8  238.86
NATUS OTICA II                    1118.81       7  159.83
DRA CLAUDIA PRECIOSO              1024.80       3  341.60
AMAZON BR                          919.92       8  114.99
AZUL SEGURO AUTO                   696.12       3  232.04
AMAZON BR                          389.06       7   55.58
ZELO                               197.10       6   32.85
CEA SPS 250 ECPC                   191.94       2   95.97
COBASI SAO CAETANO DO              183.24       2   91.62
CHICO REI*CHICO R                  148.08       3   49.36
AMAZON BR                          122.22       3   40.74
MERCADOLIVRE*JLSELETRO             113.94       3   37.98
ZELO PLAZA SUL                     113.24       4   28.31
MERCADOLIVRE*MILADECOR             109.62       3   36.54
EVINO*BR2023812948539              104.14       2   52.07
PBKIDS BRINQUEDOS LTDA              99.98       2   49.99
MERCADOLIVRE*MERCADOLI              95.79       3   31.93
DROGARIA SAO PAULO 002              84.10       1   84.10
ALIEXPRESS                          74.28       2   37.14
PARC=104RENNER                      74.02       2   37.01
MERCADOLIVRE*ABCSUPORT              67.44       2   33.72
SHOPEE*159630566386799              67.05       3   22.35
PARC=103MERCADOLIVRE*MERC           66.64       2   33.32
EC*KASPERSKYBRAZILNEXW              66.55       5   13.31
DROGARIA SAO PAULO 002              60.01       1   60.01
AMAZON MARKETPLACE                  46.71       3   15.57
AMAZON BR                           41.94       3   13.98
PARC=104MERCADOPAGO*MERCA           33.28       1   33.28
PARC=102DL*SHEINBR                  33.15       1   33.15
SHOPEE*956356288796885              33.00       2   16.50

In [499]:
# Cria coluna com nomes de acordo com máximo tempo de parcela

col_creating = [str(i) for i in range(1, xp_parcelas['faltam'].max()+1)]

xp_parcelas[col_creating] = None

for index, row in xp_parcelas.iterrows():

    #print('faltam',row['faltam'])
    to_fill = [str(i) for i in range(1,row['faltam']+1)]
    #print(to_fill)

    xp_parcelas.loc[xp_parcelas.index==index,to_fill] = row['Valor']

C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\1117681057.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas[col_creating] = None
C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\1117681057.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas[col_creating] = None
C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\1117681057.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas[col_creating] = None
C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\1117681057.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas[col_creating] = None
C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\1117681057.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas[col_creating] = None
C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\1117681057.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas[col_creating] = None
C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\1117681057.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas[col_creating] = None
C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\1117681057.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas[col_creating] = None

In [500]:
xp_parcelas.sum()

Data               01/04/202302/05/202302/05/202303/04/202303/05/...
Estabelecimento    CEA SPS 250 ECPCSHOPEE*956356288796885AMAZON B...
Portador           FILIPE AGUIAR RFILIPE AGUIAR RFILIPE AGUIAR RF...
Valor                                                        2751.64
Parcela            2 de 31 de 21 de 32 de 31 de 33 de 102 de 42 d...
realizado                                                         69
total                                                            150
faltam                                                           113
total_faltante                                              13310.57
1                                                            2751.64
2                                                             2541.1
3                                                            2093.76
4                                                            1271.67
5                                                            1243.36
6                                                            1230.05
7                                                             1197.2
8                                                             981.79
dtype: object

In [501]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [502]:
# to be replaced instead string of numbers to dates
col_dates = [] 

for i in range(0,len(col_creating)):

    date = datetime.now() + relativedelta(months=i) # According with prospect

    format_date = date.strftime("%m/%y")
    
    print(format_date)

    col_dates.append(format_date)

05/23
06/23
07/23
08/23
09/23
10/23
11/23
12/23

In [503]:
dict_cols = {}

for key,value in zip(col_creating, col_dates):

    dict_cols[key]=value

print(dict_cols)

xp_parcelas.rename(columns=dict_cols,inplace=True)

{'1': '05/23', '2': '06/23', '3': '07/23', '4': '08/23', '5': '09/23', '6': '10/23', '7': '11/23', '8': '12/23'}

C:\Users\rodri\AppData\Local\Temp\ipykernel_23012\717126593.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xp_parcelas.rename(columns=dict_cols,inplace=True)

In [504]:
xp_parcelas_ow = xp_parcelas[['Estabelecimento'] + col_dates]

In [505]:
total = xp_parcelas_ow.sum(axis=0).to_list()
total[0] = 'Total'
total

['Total',
 2751.64,
 2541.0999999999995,
 2093.7599999999998,
 1271.6699999999998,
 1243.36,
 1230.05,
 1197.2,
 981.79]

In [506]:
xp_parcelas_ow.columns.to_list()

['Estabelecimento',
 '05/23',
 '06/23',
 '07/23',
 '08/23',
 '09/23',
 '10/23',
 '11/23',
 '12/23']

In [507]:
total

['Total',
 2751.64,
 2541.0999999999995,
 2093.7599999999998,
 1271.6699999999998,
 1243.36,
 1230.05,
 1197.2,
 981.79]

In [510]:
xp_parcelas_ow = xp_parcelas_ow.append(pd.Series(total, index=xp_parcelas_ow.columns), ignore_index=True)

ValueError: Length of values (9) does not match length of index (10)

In [513]:
xp_parcelas_ow['Total'] = xp_parcelas_ow[col_dates].sum(axis=1)
xp_parcelas_ow.fillna('-',inplace=True)

In [516]:
xp_parcelas_ow

,Estabelecimento,05/23,06/23,07/23,08/23,09/23,10/23,11/23,12/23,Total
0,CEA SPS 250 ECPC,95.97,95.97,-,-,-,-,-,-,191.94
1,SHOPEE*956356288796885,16.50,16.5,-,-,-,-,-,-,33.00
2,AMAZON BR,13.98,13.98,13.98,-,-,-,-,-,41.94
3,PARC=103MERCADOLIVRE*MERC,33.32,33.32,-,-,-,-,-,-,66.64
4,MERCADOLIVRE*JLSELETRO,37.98,37.98,37.98,-,-,-,-,-,113.94
5,AZUL WE*SHYV7MRODRIGU,238.86,238.86,238.86,238.86,238.86,238.86,238.86,238.86,1910.88
6,MERCADOLIVRE*MERCADOLI,31.93,31.93,31.93,-,-,-,-,-,95.79
7,EC*KASPERSKYBRAZILNEXW,13.31,13.31,13.31,13.31,13.31,-,-,-,66.55
8,PARC=104RENNER,37.01,37.01,-,-,-,-,-,-,74.02
9,PBKIDS BRINQUEDOS LTDA,49.99,49.99,-,-,-,-,-,-,99.98
10,AMAZON MARKETPLACE,15.57,15.57,15.57,-,-,-,-,-,46.71
11,SHOPEE*159630566386799,22.35,22.35,22.35,-,-,-,-,-,67.05
12,ZELO PLAZA SUL,28.31,28.31,28.31,28.31,-,-,-,-,113.24
13,COBASI SAO CAETANO DO,91.62,91.62,-,-,-,-,-,-,183.24
14,ALIEXPRESS,37.14,37.14,-,-,-,-,-,-,74.28
15,EVINO*BR2023812948539,52.07,52.07,-,-,-,-,-,-,104.14
16,NATUS OTICA II,159.83,159.83,159.83,159.83,159.83,159.83,159.83,-,1118.81
17,AMAZON BR,114.99,114.99,114.99,114.99,114.99,114.99,114.99,114.99,919.92
18,AZUL WE*WDVIQLBRITO,316.14,316.14,316.14,316.14,316.14,316.14,316.14,316.14,2529.12
19,AZUL WE*HCU6VLBRITO,311.80,311.8,311.8,311.8,311.8,311.8,311.8,311.8,2494.40
20,MERCADOLIVRE*ABCSUPORT,33.72,33.72,-,-,-,-,-,-,67.44
21,PARC=102DL*SHEINBR,33.15,-,-,-,-,-,-,-,33.15
22,ZELO,32.85,32.85,32.85,32.85,32.85,32.85,-,-,197.10
23,DROGARIA SAO PAULO 002,84.10,-,-,-,-,-,-,-,84.10
24,MERCADOLIVRE*MILADECOR,36.54,36.54,36.54,-,-,-,-,-,109.62
25,DRA CLAUDIA PRECIOSO,341.60,341.6,341.6,-,-,-,-,-,1024.80
26,CHICO REI*CHICO R,49.36,49.36,49.36,-,-,-,-,-,148.08
27,DROGARIA SAO PAULO 002,60.01,-,-,-,-,-,-,-,60.01
28,AMAZON BR,55.58,55.58,55.58,55.58,55.58,55.58,55.58,-,389.06
29,AMAZON BR,40.74,40.74,40.74,-,-,-,-,-,122.22
30,AZUL SEGURO AUTO,232.04,232.04,232.04,-,-,-,-,-,696.12
31,PARC=104MERCADOPAGO*MERCA,33.28,-,-,-,-,-,-,-,33.28
32,Total,2751.64,2541.1,2093.76,1271.67,1243.36,1230.05,1197.2,981.79,13310.57